.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.inline-block() {
  display:inline-block;
  vertical-align: top;
  *display:inline;
  *zoom:1;
}

.placeholder-color(@color) {
    &::-webkit-input-placeholder {color: @color; }
    &:-moz-placeholder {color: @color; }
    &::-moz-placeholder {color: @color; }
    &:-ms-input-placeholder {color: @color; }
}

.linear-gradient (@startColor, @stopColor, @dir: 'vertical') when (@dir = 'vertical') {
  /* Old browser */
  background: @startColor;
  /* Generate gradient SVG background-image for IE9 */
  @svg: ~'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="@{startColor}" stop-opacity="1"/><stop offset="100%" stop-color="@{stopColor}" stop-opacity="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#grad-ucgg-generated)" /></svg>';
  background: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('url(data:image/svg+xml;base64,','@{svg}',')')`;
  /* Gradient for normal browsers */
  background: -moz-linear-gradient(top,  @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(top,  @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(top,  @startColor 0%,@stopColor 100%);
  background: -ms-linear-gradient(top,  @startColor 0%,@stopColor 100%);
  background: linear-gradient(to bottom,  @startColor 0%,@stopColor 100%);
  /* Gradient for IE6-8 */
  filter: ~'progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr="@{startColor}", EndColorStr="@{stopColor}")';
  // reset filter for IE9
  :root & {filter:~'0\0/IE9;'}
}

.linear-gradient (@startColor, @stopColor, @dir: 'vertical') when (@dir = 'horizontal') {
  /* Old browser */
    background: @startColor;
  /* Generate gradient SVG background-image for IE9 */
  @svg: ~'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="100%" x2="100%" y2="100%"><stop offset="0%" stop-color="@{startColor}" stop-opacity="1"/><stop offset="100%" stop-color="@{stopColor}" stop-opacity="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#grad-ucgg-generated)" /></svg>';
  background: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('url(data:image/svg+xml;base64,','@{svg}',')')`;
  /* Gradient for normal browsers */
  background: -moz-linear-gradient(left, @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(left, @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(left, @startColor 0%,@stopColor 100%);
  background: -ms-linear-gradient(left, @startColor 0%,@stopColor 100%);
  background: linear-gradient(to right, @startColor 0%,@stopColor 100%);
  /* Gradient for IE6-8 */
  filter: ~'progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorStr="@{startColor}", EndColorStr="@{stopColor}")';
  // reset filter for IE9
  :root & {filter:~'0\0/IE9;'}
}

.transform (...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.rotation (@deg:5deg){
  .transform(rotate(@deg));
}

.scale (@ratio:1.5){
  .transform(scale(@ratio));
}

.transition (@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.box-sizing (@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.user-select (@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
}

.background-clip (@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}

@tahoma: ~'Tahoma, Geneva ,Kalimati, sans-serif';
@arial: ~'Arial, Helvetica, Garuda, sans-serif';
@georgia: ~'Georgia,"Nimbus Roman No9 L", serif';
@trebuchet: ~'"Trebuchet MS",Helvetica,Jamrul,sans-serif';

// Spinner
// - vars
@spinner-size: 200px;
@spinner-items: 12;
@spinner-scale: 0.25;
@spinner-speed: 1s;
@spinner-time-step: (@spinner-speed / @spinner-items);
@spinner-rotate-step: (360deg / @spinner-items);

// - mixins
.transform (@string){
  -webkit-transform: (@string);
      -ms-transform: (@string); // IE9 only
       -o-transform: (@string);
          transform: (@string);
}
.animation(@animation) {
  -webkit-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.animation-delay(@delay) {
  -webkit-animation-delay: @delay;
          animation-delay: @delay;
}
// - animation
@-webkit-keyframes spinner { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes spinner { 0% { opacity: 1} 100% {opacity: 0} }

// - styles
.spinner {
  display: inline-block;
  position: relative;
  width: (@spinner-size * @spinner-scale);
  height: (@spinner-size * @spinner-scale);
  .scale(@spinner-scale);
}
.spinner > div { 
  background-color: #040204;
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -10px;
  width: 16px;
  height: 40px;
  border-radius: 10px;
  .animation(spinner @spinner-speed linear infinite);
}

// - loop
.spinner-loop (@i) when (@i > 0) {
  .spinner > div:nth-child(@{i}) {
    .animation-delay(((@i - 1 - (@spinner-items / 2)) * @spinner-time-step));
    .transform(rotate((@i - 1) * @spinner-rotate-step) translate(0, -60px));
  }
  .spinner-loop(@i - 1);
}
.spinner-loop(@spinner-items);

// @end Spinner
// -----------------
